# Config file for the ndstream project
#
#   /////////////////
#   //  © NewDawn0 //
#   /////////////////

# Video Player
mediaPlayer=vlc

# Url
url=1337x.to

# Downloads folder
path="$HOME/Movies/ndstream"

#Updates
CheckForUpdates=Enabled #Not yet implemented
AutomaticUpdates=Enabled #Not yet implemented

# info
# Downloads
#   The programm will create a new directory
#   for each download inside the downloads directory
#
# Url / Domainname
#   If the url isn't working anymore,
#   lookup the current working domain and change it
#
# Video Player
#   Default player is mpv
#   List of supported players:
#       vlc         VlC mediaPlayer
#       mpv         MPV
#       dlna        DNLA
#       mplayer     Mplayer
#       omx         OMX
#       iina        INA
#       smplayer    SMPlayer
#       xbmc        XBMC
#
# Dependencies:
#   curl
#   grep
#   webtorrent      -> install with npm (NodeJS)
